<div class="jumbotron">
    <h1>Welcome to Envision!</h1>
    <h3>Where you can build vision boards for your peace of mind.</h3>
</div>

    <div class="panel panel-success col-md-4" id="home_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Vision Boards</h3>
        </div>
        <div class="panel-body">
            <p>Users can build vision boards as a productive way to envision themselves outside of their disorders</p>
        </div>
    </div>

    <!-- <div class="panel panel-primary col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Resources</h3>
        </div>
        <div class="panel-body">
            <p>List of resources available, if users feel the need to speak with professionals.</p>
        </div>
    </div> -->

    <div class="panel panel-info col-md-4" id="home_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
        </div>
        <div class="panel-body">
            <p>Build your profile and see the boards you have created on your page!</p>
        </div>
    </div>
