<div class="container">
    <div class="panel panel-primary col-md-8" id="app_about">
        <div class="panel-heading">
            <h3 class="panel-title">About Envision</h3>
        </div>
        <div class="panel-body">
            <p><img src='http://s33.postimg.org/8k0ww3xj3/Screen_Shot_2016_06_05_at_12_17_51.png' class="app_img">
                Hey everyone! Here at Envision, the idea is simple: create a positive outlet for users with mental, mood, and personality disorders to view themselves outside of their illness. Envision is an online platform that allows users to build and store their
                own virtual vision boards. It is a productive and creative way for users to get outside of their own heads, if even for just a few moments.
            </p>
        </div>
    </div>

    <div class="panel panel-info col-md-8" id="about_me">
        <div class="panel-heading">
            <h3 class="panel-title">About the Developer</h3>
        </div>
        <div class="panel-body">
            <p><img src='http://s33.postimg.org/pzx6zspun/IMG_3129.jpg' class='about_img'/>
                Hello! My name is Andrea Ceballos, I'm a recent graduate from General Assembly's Web Development Immersive. I built this app, because as a person who suffers from Anxiety and Depression, sometimes the things I usually use to distract myself just
                don't do the trick.</p>
            <p>Like this project? Please feel free to contact me if you have any questions!<br>
                Email: andrea.ainara10@gmail.com<br>
                LinkedIn: https://www.linkedin.com/in/andreaceballos<br>
            </p>
        </div>
    </div>
