<div class="container col-md-6">
<div class="app_about">
  <p><img src='http://s33.postimg.org/flpuc8uzj/Screen_Shot_2016_06_02_at_22_59_12.png' class="about_img" >
    Hey everyone! Here at Envision, the idea is simple: create a positive outlet
    for users with mental, mood, and personality disorders to view themselves outside of their illness.
    Envision is an online platform that allows users to build and store their own virtual vision boards.
    It is a productive and creative way for users to get outside of their own heads, if even for just a few moments.
  </p>



</div>
</div>
