/*

 *= require_tree .
 *= require_self
 */
 .jumbotron {
   background-image: url('http://1.bp.blogspot.com/-Uo7BSshm8mo/UpakUEfKeZI/AAAAAAAADXg/42DX9TlOQfQ/s1600/WP_20131127_13_36_08_Pro.jpg');
   height: 400px;
   color: snow;
   text-shadow: 1.5px 1.5px #000000;
   margin-top: -30px;
 }

/*.panel {
  margin-left: 20px;
}*/

#home_panel {
  margin-left: 150px;
}

#text_card {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}
#photo_card {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

img {
  width: 230px;
  height: 170px;
}

#app_about {
  word-wrap: break-word;
}
.app_img {
  float: right;
  height: 150px;
  width: 150px;
}
.about_img {
  float: left;
  height: 150px;
  width: 150px;
}
#about_me {
  word-wrap: break-word;
}
