/*

 *= require_tree .
 *= require_self
 */
.panel-body {
  width: 600px;
}
.card {
  background-color: rgba(26, 207, 251, 0.5);
  width: 200px;
  height: 350px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 150px;
  text-align: center;
}
.p {
  padding-top: 150px;
}
