/*

 *= require_tree .
 *= require_self
 */
.jumbotron {
  background-image: image('envision_jumbotron_pic.png');
}

.panel-body {
  width: 600px;
}
.add-card {
  background-color: rgba(26, 207, 251, 0.5);
  /*width: 200px;*/
  height: 350px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 50px;
  text-align: center;
}
.card {
  background-color: rgba(26, 207, 251, 0.5);
  /*width: 200px;*/
  height: 350px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 50px;
  text-align: center;
}
.card-action {
  padding-top: 100px;
}

img {
  width: 230px;
  height: 170px;
}
